In [64]:
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split, cross_validate
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Lasso, Ridge, LinearRegression
from sklearn.metrics import r2_score, mean_absolute_error

import numpy as np

In [65]:
data = pd.read_csv('data/kc_house_data.csv')

In [66]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,...,7,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,...,7,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,...,6,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,...,7,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,...,8,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503

In [67]:
data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [68]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  object
 2   price          21597 non-null  float64
 3   bedrooms       21597 non-null  int64
 4   bathrooms      21597 non-null  float64
 5   sqft_living    21597 non-null  int64
 6   sqft_lot       21597 non-null  int64
 7   floors         21597 non-null  float64
 8   waterfront     19221 non-null  float64
 9   view           21534 non-null  float64
 10  condition      21597 non-null  int64
 11  grade          21597 non-null  int64
 12  sqft_above     21597 non-null  int64
 13  sqft_basement  21597 non-null  object
 14  yr_built       21597 non-null  int64
 15  yr_renovated   17755 non-null  float64
 16  zipcode        21597 non-null  int64
 17  lat            21597 non-null  float64
 18  long           21597 non-null  float64
 19  sqft_living15  21597 non-null  int64
 20  sqft_lot15     21597 non-null  int64
dtypes: float64(8), int64(11), object(2)
memory usage: 3.5+ MB

In [69]:
len(data[data.waterfront.isna()])

2376

I'm gonna exclude the rows without waterfront data because I suspect waterfront is gonna be a strong indicator but I do want to come back and include the 2376 rows later somehow...

In [70]:
data = data.dropna(subset=['waterfront'])

In [71]:
len(data)

19221

In [72]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19221 entries, 1 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             19221 non-null  int64
 1   date           19221 non-null  object
 2   price          19221 non-null  float64
 3   bedrooms       19221 non-null  int64
 4   bathrooms      19221 non-null  float64
 5   sqft_living    19221 non-null  int64
 6   sqft_lot       19221 non-null  int64
 7   floors         19221 non-null  float64
 8   waterfront     19221 non-null  float64
 9   view           19164 non-null  float64
 10  condition      19221 non-null  int64
 11  grade          19221 non-null  int64
 12  sqft_above     19221 non-null  int64
 13  sqft_basement  19221 non-null  object
 14  yr_built       19221 non-null  int64
 15  yr_renovated   15809 non-null  float64
 16  zipcode        19221 non-null  int64
 17  lat            19221 non-null  float64
 18  long           19221 non-null  float64
 19  sqft_living15  19221 non-null  int64
 20  sqft_lot15     19221 non-null  int64
dtypes: float64(8), int64(11), object(2)
memory usage: 3.2+ MB

lat and long will likely need to be combined in some way...along with zipcode?

In [73]:
data.isna().sum()

id                  0
date                0
price               0
bedrooms            0
bathrooms           0
sqft_living         0
sqft_lot            0
floors              0
waterfront          0
view               57
condition           0
grade               0
sqft_above          0
sqft_basement       0
yr_built            0
yr_renovated     3412
zipcode             0
lat                 0
long                0
sqft_living15       0
sqft_lot15          0
dtype: int64

In [74]:
data.view.value_counts()

0.0    17312
2.0      836
3.0      435
1.0      291
4.0      290
Name: view, dtype: int64

view is number of times viewed? is it possible that views implies interest, therefore a higher price?

In [75]:
data.yr_renovated.value_counts()

0.0       15157
2014.0       64
2013.0       29
2005.0       27
2000.0       25
          ...
1953.0        1
1950.0        1
1954.0        1
1959.0        1
1971.0        1
Name: yr_renovated, Length: 70, dtype: int64

In [76]:
data.yr_renovated.isna().sum()

3412

I'll take 0s to mean never renovated and for expidency's sake drop na's for this and view. Perhaps if I find that any of these three features with problematic data is unemportant then I can come back and add them back in with the columns deleted instead

In [77]:
data = data.dropna(how='any')

In [78]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15762 entries, 1 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             15762 non-null  int64
 1   date           15762 non-null  object
 2   price          15762 non-null  float64
 3   bedrooms       15762 non-null  int64
 4   bathrooms      15762 non-null  float64
 5   sqft_living    15762 non-null  int64
 6   sqft_lot       15762 non-null  int64
 7   floors         15762 non-null  float64
 8   waterfront     15762 non-null  float64
 9   view           15762 non-null  float64
 10  condition      15762 non-null  int64
 11  grade          15762 non-null  int64
 12  sqft_above     15762 non-null  int64
 13  sqft_basement  15762 non-null  object
 14  yr_built       15762 non-null  int64
 15  yr_renovated   15762 non-null  float64
 16  zipcode        15762 non-null  int64
 17  lat            15762 non-null  float64
 18  long           15762 non-null  float64
 19  sqft_living15  15762 non-null  int64
 20  sqft_lot15     15762 non-null  int64
dtypes: float64(8), int64(11), object(2)
memory usage: 2.6+ MB

Come back later and check for pattern among built years which lack renovated years (ie NA) (maybe recent?)

In [79]:
# ONE HOT COLUMNS:
# discrete values:
#     bedrooms - whole numbers
#     bathrooms (by half?)
#     floors
#     waterfront
#     view
#     condition
#     grade
#     zipcode

# possible binary:
#     year renovated into was/wasn't renovated

let's explore how the data is presented in these columns to see if anything needs to be edited

In [80]:
data.bedrooms.value_counts()

3     7120
4     5079
2     2003
5     1183
6      192
1      141
7       23
8       10
9        6
10       3
11       1
33       1
Name: bedrooms, dtype: int64

In [81]:
data.bathrooms.value_counts()

2.50    4004
1.00    2761
1.75    2226
2.25    1487
2.00    1395
1.50    1060
2.75     853
3.00     543
3.50     543
3.25     428
3.75     104
4.00     100
4.50      75
4.25      62
0.75      50
4.75      17
5.00      14
5.25      11
5.50       8
1.25       6
6.00       5
0.50       3
8.00       2
5.75       2
7.75       1
7.50       1
6.75       1
Name: bathrooms, dtype: int64

QUARTERS!

In [82]:
data.floors.value_counts()

1.0    7777
2.0    6049
1.5    1374
3.0     439
2.5     117
3.5       6
Name: floors, dtype: int64

In [83]:
data.waterfront.value_counts()

0.0    15642
1.0      120
Name: waterfront, dtype: int64

In [84]:
data.condition.value_counts()

3    10221
4     4137
5     1254
2      131
1       19
Name: condition, dtype: int64

In [85]:
data.grade.value_counts()

7     6539
8     4438
9     1920
6     1482
10     832
11     290
5      167
12      66
4       16
13      11
3        1
Name: grade, dtype: int64

In [86]:
data.zipcode.value_counts()

98038    437
98103    425
98052    416
98042    408
98115    407
        ...
98010     70
98102     65
98024     58
98148     42
98039     36
Name: zipcode, Length: 70, dtype: int64

In [87]:
data.yr_built.value_counts()

2014    400
2006    335
2005    327
2007    308
2004    304
       ...
1901     22
1933     18
1902     18
1934     15
1935     14
Name: yr_built, Length: 116, dtype: int64

In [88]:
data.yr_renovated.value_counts()

0.0       15111
2014.0       64
2013.0       29
2005.0       27
2000.0       25
          ...
1974.0        1
1959.0        1
1934.0        1
1944.0        1
1976.0        1
Name: yr_renovated, Length: 70, dtype: int64

one hot encoding years built and renovated is easily going to push me up against my column limit. Then again, maybe it won't be too bad? Maybe I compare models with them one hot-ted vs one with them presented as continuious values?

convert date column to datetime

In [89]:
data.date = pd.to_datetime(data.date)

In [90]:
data.date = data.date.apply(lambda x: x.toordinal())

In [91]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15762 entries, 1 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             15762 non-null  int64
 1   date           15762 non-null  int64
 2   price          15762 non-null  float64
 3   bedrooms       15762 non-null  int64
 4   bathrooms      15762 non-null  float64
 5   sqft_living    15762 non-null  int64
 6   sqft_lot       15762 non-null  int64
 7   floors         15762 non-null  float64
 8   waterfront     15762 non-null  float64
 9   view           15762 non-null  float64
 10  condition      15762 non-null  int64
 11  grade          15762 non-null  int64
 12  sqft_above     15762 non-null  int64
 13  sqft_basement  15762 non-null  object
 14  yr_built       15762 non-null  int64
 15  yr_renovated   15762 non-null  float64
 16  zipcode        15762 non-null  int64
 17  lat            15762 non-null  float64
 18  long           15762 non-null  float64
 19  sqft_living15  15762 non-null  int64
 20  sqft_lot15     15762 non-null  int64
dtypes: float64(8), int64(12), object(1)
memory usage: 2.6+ MB

In [92]:
data.sqft_basement.value_counts()

0.0       9362
?          333
600.0      155
500.0      151
700.0      148
          ...
2300.0       1
225.0        1
1852.0       1
2050.0       1
666.0        1
Name: sqft_basement, Length: 283, dtype: int64

In [93]:
data[data.sqft_basement == '?'][['sqft_living', 'sqft_above', 'sqft_basement']]

       sqft_living  sqft_above sqft_basement
6             1715        1715             ?
18            1200        1200             ?
42            3595        3595             ?
79            3450        3450             ?
112           1540        1160             ?
...            ...         ...           ...
21210         1170        1070             ?
21357         2800        2800             ?
21365          820         820             ?
21442         2360        1390             ?
21519         2380        2380             ?

[333 rows x 3 columns]

Confirmed that a value for basement sqft can't be derived from the total sqft_living. Will replace ? with 0

In [96]:
data.sqft_basement = data.sqft_basement.replace('?', 0.0)
data.sqft_basement = data.sqft_basement.astype('float64')

In [97]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15762 entries, 1 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             15762 non-null  int64
 1   date           15762 non-null  int64
 2   price          15762 non-null  float64
 3   bedrooms       15762 non-null  int64
 4   bathrooms      15762 non-null  float64
 5   sqft_living    15762 non-null  int64
 6   sqft_lot       15762 non-null  int64
 7   floors         15762 non-null  float64
 8   waterfront     15762 non-null  float64
 9   view           15762 non-null  float64
 10  condition      15762 non-null  int64
 11  grade          15762 non-null  int64
 12  sqft_above     15762 non-null  int64
 13  sqft_basement  15762 non-null  float64
 14  yr_built       15762 non-null  int64
 15  yr_renovated   15762 non-null  float64
 16  zipcode        15762 non-null  int64
 17  lat            15762 non-null  float64
 18  long           15762 non-null  float64
 19  sqft_living15  15762 non-null  int64
 20  sqft_lot15     15762 non-null  int64
dtypes: float64(9), int64(12)
memory usage: 2.6 MB

In [98]:
data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [114]:
data_sum = pd.get_dummies(data, columns=['waterfront', 'view', 'condition', 'grade'],
                      drop_first=False)
data_sum = data_sum.drop(['id'], axis=1)

In [115]:
# customary column limit = sqrt(rows)
np.sqrt(len(data))

125.54680402144851

In [101]:
data_sum.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15762 entries, 1 to 21596
Data columns (total 39 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            15762 non-null  int64
 1   price           15762 non-null  float64
 2   bedrooms        15762 non-null  int64
 3   bathrooms       15762 non-null  float64
 4   sqft_living     15762 non-null  int64
 5   sqft_lot        15762 non-null  int64
 6   floors          15762 non-null  float64
 7   sqft_above      15762 non-null  int64
 8   sqft_basement   15762 non-null  float64
 9   yr_built        15762 non-null  int64
 10  yr_renovated    15762 non-null  float64
 11  zipcode         15762 non-null  int64
 12  lat             15762 non-null  float64
 13  long            15762 non-null  float64
 14  sqft_living15   15762 non-null  int64
 15  sqft_lot15      15762 non-null  int64
 16  waterfront_0.0  15762 non-null  uint8
 17  waterfront_1.0  15762 non-null  uint8
 18  view_0.0        15762 non-null  uint8
 19  view_1.0        15762 non-null  uint8
 20  view_2.0        15762 non-null  uint8
 21  view_3.0        15762 non-null  uint8
 22  view_4.0        15762 non-null  uint8
 23  condition_1     15762 non-null  uint8
 24  condition_2     15762 non-null  uint8
 25  condition_3     15762 non-null  uint8
 26  condition_4     15762 non-null  uint8
 27  condition_5     15762 non-null  uint8
 28  grade_3         15762 non-null  uint8
 29  grade_4         15762 non-null  uint8
 30  grade_5         15762 non-null  uint8
 31  grade_6         15762 non-null  uint8
 32  grade_7         15762 non-null  uint8
 33  grade_8         15762 non-null  uint8
 34  grade_9         15762 non-null  uint8
 35  grade_10        15762 non-null  uint8
 36  grade_11        15762 non-null  uint8
 37  grade_12        15762 non-null  uint8
 38  grade_13        15762 non-null  uint8
dtypes: float64(7), int64(9), uint8(23)
memory usage: 2.4 MB

Probably too many columns but let's press forward

In [102]:
# plt.figure(figsize=(150,120))
# sns.heatmap(data_sum.corr().abs(), annot=True)
# plt.savefig("heatmap.png")

high corelates:
sqft_living12
sqft_above
grade
sqft_living

In [103]:
# sns.pairplot(data_sum)
# plt.savefig("pairplot_num.png")

In [104]:
data_sum.columns

Index(['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated',
       'zipcode', 'lat', 'long', 'sqft_living15', 'sqft_lot15',
       'waterfront_0.0', 'waterfront_1.0', 'view_0.0', 'view_1.0', 'view_2.0',
       'view_3.0', 'view_4.0', 'condition_1', 'condition_2', 'condition_3',
       'condition_4', 'condition_5', 'grade_3', 'grade_4', 'grade_5',
       'grade_6', 'grade_7', 'grade_8', 'grade_9', 'grade_10', 'grade_11',
       'grade_12', 'grade_13'],
      dtype='object')

In [105]:
X = data_sum.drop(['price'], axis=1)
y = data_sum['price']

In [106]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [107]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11821 entries, 8440 to 9955
Data columns (total 38 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            11821 non-null  int64
 1   bedrooms        11821 non-null  int64
 2   bathrooms       11821 non-null  float64
 3   sqft_living     11821 non-null  int64
 4   sqft_lot        11821 non-null  int64
 5   floors          11821 non-null  float64
 6   sqft_above      11821 non-null  int64
 7   sqft_basement   11821 non-null  float64
 8   yr_built        11821 non-null  int64
 9   yr_renovated    11821 non-null  float64
 10  zipcode         11821 non-null  int64
 11  lat             11821 non-null  float64
 12  long            11821 non-null  float64
 13  sqft_living15   11821 non-null  int64
 14  sqft_lot15      11821 non-null  int64
 15  waterfront_0.0  11821 non-null  uint8
 16  waterfront_1.0  11821 non-null  uint8
 17  view_0.0        11821 non-null  uint8
 18  view_1.0        11821 non-null  uint8
 19  view_2.0        11821 non-null  uint8
 20  view_3.0        11821 non-null  uint8
 21  view_4.0        11821 non-null  uint8
 22  condition_1     11821 non-null  uint8
 23  condition_2     11821 non-null  uint8
 24  condition_3     11821 non-null  uint8
 25  condition_4     11821 non-null  uint8
 26  condition_5     11821 non-null  uint8
 27  grade_3         11821 non-null  uint8
 28  grade_4         11821 non-null  uint8
 29  grade_5         11821 non-null  uint8
 30  grade_6         11821 non-null  uint8
 31  grade_7         11821 non-null  uint8
 32  grade_8         11821 non-null  uint8
 33  grade_9         11821 non-null  uint8
 34  grade_10        11821 non-null  uint8
 35  grade_11        11821 non-null  uint8
 36  grade_12        11821 non-null  uint8
 37  grade_13        11821 non-null  uint8
dtypes: float64(6), int64(9), uint8(23)
memory usage: 1.7 MB

In [108]:
scaler = StandardScaler()

scaler.fit(X_train)

X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [111]:
lr = LinearRegression()

lr.fit(X_train_scaled, y_train)

train_preds = lr.predict(X_train_scaled)
test_preds = lr.predict(X_test_scaled)

In [112]:
print(f"Train R2 Score: {r2_score(y_train, train_preds):.3f}")
print(f"Test R2 Score: {r2_score(y_test, test_preds):.3f}")

Train R2 Score: 0.733
Test R2 Score: 0.729

overfitting

cut back on features?

In [117]:
data_sum2 = pd.get_dummies(data, columns=['waterfront'],
                      drop_first=False)
data_sum2 = data_sum2.drop(['id'], axis=1)

In [118]:
X = data_sum2.drop(['price'], axis=1)
y = data_sum2['price']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

scaler = StandardScaler()

scaler.fit(X_train)

X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

lr = LinearRegression()

lr.fit(X_train_scaled, y_train)

train_preds = lr.predict(X_train_scaled)
test_preds = lr.predict(X_test_scaled)

print(f"Train R2 Score: {r2_score(y_train, train_preds):.3f}")
print(f"Test R2 Score: {r2_score(y_test, test_preds):.3f}")

Train R2 Score: 0.701
Test R2 Score: 0.704

Worse model but also more generalizable

In [119]:
from yellowbrick.regressor import ResidualsPlot

visualizer = ResidualsPlot(lr)

visualizer.fit(X_train_scaled, y_train)
visualizer.score(X_test_scaled, y_test)
visualizer.show()

ModuleNotFoundError: No module named 'yellowbrick'